<footer>
  <div class="links">
    <a href="https://github.com/zapponejosh/" class="logo" target="blank" rel="noreferrer noopener">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/josh-zappone-60bb85196/" class="logo" target="blank" rel="noreferrer noopener">
      <i class="fab fa-linkedin-in fa-2x"></i>
    </a>
  </div>
  <div>
    <p>Copyright <i class="far fa-copyright fa-xs"></i> 2020</p>
  </div>
</footer>