<link rel="stylesheet" href="/css/about.css">
{{> nav}}

<section class="about-header">


  <h1>Hey! Nice to meet me ;)</h1>

  <p>Life has moved rapidly for me over the last several years. I graduated with a dual degree in Pastoral Ministry and
    Biblical Studies from Northwest University in 2015 and worked at a church until the beginning of 2020. During that
    time I also got married, got a dog, and started renting the house I grew up in. I currently work at SAP Concur in
    Bellevue as a web producer.</p>
  <p>After beginning at SAP Concur and working closely with developers my curiousity around web development and coding
    turned from a hobby into a passion, and, when the pandemic began, I enrolled in the University of Washington's
    Coding Boot Camp and have begun my journey to fulltime web development.</p>
  <p>When I am not staring at a monitor for work or honing my development skills I can be found walking my dog, watching
    one of several TV shows with my wife (Brooklyn 99 at the moment), baking bread, or in the woods far away with my
    camera.</p>

  <p>I am glad you found your way to my site and I hope you enjoy taking a gander at some of the things I have worked on
    recently!</p>
  <p><a class="btn btn-primary" href="/"><i class="fas fa-arrow-circle-left"></i> Return to the main page</a></p>


  <img class="img-squirrel" src="/assets/Images/squirrel-2.jpg" alt="squirrel eating a mushroom">

</section>


{{> footer}}