{{> nav}}

<div class="hero">
<div class="hero-img">
  <img src="./assets/Images/hero-img.png" alt="Profile picture">
</div>
<div class="hero-body">
  <h1 class="intro">Hi, I'm Josh,<br>Fullstack Web Developer</h1>
  <p class="intro">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ad sapiente omnis animi quibusdam odit impedit molestias? Velit corrupti quo, voluptatum mollitia doloribus quae, officiis, ab culpa modi nemo aut.</p>
  <a href="#" class="btn btn-primary">View Resume</a>
  <a href="#" class="btn btn-secondary">Contact Me</a>
</div>
</div>

<br>
{{> projects}}

{{> footer}}