*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Main site styles */
:root {
  --primary-color: #69B0D9;
  --dark-primary-color: #21243D;
  --secondary-color: #C18D07;
  --light-primary-color: #F4CFC3;
  --accent-color: #F0A500;
  --alert-color: #821752;
  --p-variant-color: #DFF0EF;
  --background: #fff;
  --default-text: #4C4D51;
  --text-placeholder: #ABABAB;

  --default-border-radius: 15px;
  --top-border-radius: 10px 10px 0 0;
  --btm-border-radius: 0 0 10px 10px;
  --button-border-radius: 2px;
  --default-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

  font-size: 16px;
}

h1 {
  font-family: "harmattan";
  font-weight: 400;
  font-size: 3rem;
  color: var(--primary-color);
}

h2 {
  font-family: "harmattan";
  font-weight: 700;
  font-size: 2.2rem;
}

h3 {
  font-family: "harmattan";
  font-weight: 300;
  font-size: 1.8rem;
}

h4 {
  font-family: "harmattan";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 40px;
}

p,
td,
th,
label {
  font-family: "lato";
  font-weight: 300;
  font-size: 15px;
}

a {
  font-family: "lato";
  font-weight: 300;
  font-size: 15px;
  color: var(--default-text);
}

body {
  background-color: var(--background);
  color: var(--default-text);
}

h1,
p {
  margin: 0 0 1em 0;
}

.text-center {
  text-align: center;
}

.primary {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.container {
  min-width: 400px;
}


/* Nav styles */
.nav {
  position: absolute;
  padding-top: 28px;
  padding-right: 27px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 33px;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.nav-item:hover {
  filter: brightness(115%);
}

.nav-item:active {
  filter: brightness(115%);
  transform: translateY(2px);
}

/* END NAV STYLES */

/* Button styles */

.button-group {
  display: flex;
  margin: 10px auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1rem;
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 10px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: var(--button-border-radius);

  /* size comes from text & padding (no width/height) unless specified */
  padding: 0.5em 1em;
  box-shadow: var(--default-shadow);
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover {
  filter: brightness(115%);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--p-variant-color);
}

.btn-secondary {
  background-color: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}


/* hero styles */
.hero {
  display: flex;
  background-color: var(--dark-primary-color);
  height: 600px;
}

.hero-img {
  height: 100%
}

.hero-img img {
  height: 100%;
  object-fit: cover;
}

.hero-body {
  align-self: flex-end;
  margin: auto 52px 71px;
  width: 500px;
}

p.intro {
  margin-bottom: 40px;
  color: var(--p-variant-color);
}

h1.intro {
  margin-bottom: 30px;
}

.hero-body .btn-primary {
  margin-left: 0;
}


/* Project section styles */
.project-section {
  max-width: 1000px;
  margin: 15px auto;
}

.project-section .section-title {
  margin-left: 35px;
}

.project {
  display: flex;
  justify-content: flex-start;
  margin: 35px;
}
.project:first-of-type {
  margin-top: 22px;
}

.project-img {
  width: 246px;
  margin-right: 1.1rem;
  border-radius: 6px;
}

.project-img img {
  object-fit: cover;
  box-shadow: var(--default-shadow);

}

.project-content {
  max-width: 594px;
  margin-top: 11px;
}

.project-split {
  max-width: 858px;
  margin: 18px;
  border: 0;
  border-top: 1px solid #E0E0E0;
}
/* end project section styles */

/* hero and nav styles for mobile */
@media only screen and (max-device-width: 1020px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    height: unset;
    min-height: 100vh;
    max-height: 800px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  .hero-img {
    margin-top: 60px;
    margin-bottom: 40px;
    height: 200px;
  }
  .hero-img img {
    border-radius: 50%;

  }
  .hero-body {
    margin: 0 auto 40px;
    width: 80%;
  }
  .hero-body .btn {
    margin: 7px 6px;
  }

  /* tab bar */
  .nav {
    position: fixed;
    justify-content: space-evenly;
    top: 0;
    padding: 0;
    background-color: var(--secondary-color);
    opacity: .9;
    margin: 0 auto;
  }
  .nav-item {
    padding: 10px 0;
    color: var(--dark-primary-color);

  }

}

@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .project {
    flex-direction: column;
    align-items: center;
    max-width: 344px;
    margin: 35px auto;
  }

  .project-img {
    width: 100%;
    margin: 0 0 6px;
  }

  .project-section .section-title {
    margin: 0;
    text-align: center;
  }


}
