*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Main site styles */
:root {
  --primary-color: #69B0D9;
  --dark-primary-color: #21243D;
  --secondary-color: #C18D07;
  --light-primary-color: #F4CFC3;
  --accent-color: #F0A500;
  --alert-color: #821752;
  --p-variant-color: #DFF0EF;
  --background: #fff;
  --default-text: #4C4D51;
  --text-placeholder: #ABABAB;

  --default-border-radius: 15px;
  --top-border-radius: 10px 10px 0 0;
  --btm-border-radius: 0 0 10px 10px;
  --button-border-radius: 2px;

  font-size: 16px;
}

h1 {
  font-family: "harmattan";
  font-weight: 400;
  font-size: 3rem;
  color: var(--primary-color);
}

h2 {
  font-family: "harmattan";
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-family: "harmattan";
  font-weight: 300;
  font-size: 1.5rem;
}

h4 {
  font-family: "harmattan";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 40px;
}

p,
td,
th,
label {
  font-family: "lato";
  font-weight: 300;
  font-size: 15px;
}

a {
  font-family: "lato";
  font-weight: 300;
  font-size: 15px;
  color: var(--default-text);
}

body {
  background-color: var(--background);
  color: var(--default-text);
}

h1,
p {
  margin: 0 0 1em 0;
}

.text-center {
  text-align: center;
}

.primary {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.container {
  min-width: 400px;
}

/* Button styles */

.button-group {
  display: flex;
  margin: 10px auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1rem;
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 10px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: var(--button-border-radius);

  /* size comes from text & padding (no width/height) unless specified */
  padding: 0.5em 1em;
  box-shadow: 0 4px 4px 0 #000;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover {
  filter: brightness(115%);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--p-variant-color);
}

.btn-secondary {
  background-color: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.project-img {
  width: 50%;
}

/* hero styles */
.hero {
  display: flex;
  background-color: var(--dark-primary-color);
  height: 600px;
}

.hero-img {
  height: 100%
}

.hero-img img {
  height: 100%;
  object-fit: cover;
}

.hero-body {
  align-self: flex-end;
  margin: auto 52px 71px;
  width: 500px;
}

p.intro {
  margin-bottom: 40px;
  color: var(--p-variant-color);
}

h1.intro {
  margin-bottom: 30px;
}

.hero-body .btn-primary {
  margin-left: 0;
}


/* hero styles for mobile */
@media only screen and (max-device-width: 950px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    height: unset;
    min-height: 100vh;
    max-height: 800px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  .hero-img {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 200px;
  }
  .hero-img img {
    border-radius: 50%;

  }
  .hero-body {
    margin: 0 auto 40px;
    width: 80%;
  }
  .hero-body .btn {
    margin: 7px auto;
  }
}
